USE [master]
GO
/****** Object:  Database [Tareas]    Script Date: 02/23/2025 09:08:56 ******/
CREATE DATABASE [Tareas] ON  PRIMARY 
( NAME = N'Tareas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\Tareas.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Tareas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\Tareas_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tareas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tareas]
GO
/****** Object:  Table [dbo].[Tareas]    Script Date: 02/23/2025 09:08:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tareas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](max) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaVencimiento] [datetime2](7) NOT NULL,
	[Completada] [bit] NOT NULL,
 CONSTRAINT [PK_Tareas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tareas] ON
INSERT [dbo].[Tareas] ([Id], [Titulo], [Descripcion], [FechaCreacion], [FechaVencimiento], [Completada]) VALUES (2, N'Respaldo', N'Respaldos Diarios', CAST(0x070000000000E5470B AS DateTime2), CAST(0x070000000000E5470B AS DateTime2), 1)
INSERT [dbo].[Tareas] ([Id], [Titulo], [Descripcion], [FechaCreacion], [FechaVencimiento], [Completada]) VALUES (3, N'Respaldo Base', N'Respaldo Base Diario', CAST(0x07303E2F1791E6470B AS DateTime2), CAST(0x07303E2F1791E6470B AS DateTime2), 1)
INSERT [dbo].[Tareas] ([Id], [Titulo], [Descripcion], [FechaCreacion], [FechaVencimiento], [Completada]) VALUES (6, N'Nueva tarea', N'Nueva tarea modificada', CAST(0x070000000000E6470B AS DateTime2), CAST(0x070000000000EA470B AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Tareas] OFF
/****** Object:  Table [dbo].[Logs]    Script Date: 02/23/2025 09:08:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 02/23/2025 09:08:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250220202132_ScriptInicial', N'9.0.2')
